.bg-brand {
  background-color: hsl(26, 100%, 55%);
  padding: 1rem 3rem;
  color: white;
  text-align: center;
  justify-content: center;
}
.btnpad{
  padding-left: 1rem;
  padding-right: 1rem;
}
.bg-btn {
  background-color: hsl(223, 64%, 98%);
  /* padding: 0 0.2rem;
  margin-right: 1rem; */
}
.btncol {
  display: flex;
  flex-direction: row;
}
.cartState {
  background-color: hsl(26, 100%, 55%);
  width: 25px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: 8px;
  color: white;
  font-weight: 400;
  font-size: 12px;
}
.cartNostate {
  display: none;
}
/* .btnAdd {
    padding:  0 1.5rem;

 } */
.btnMargin {
  margin-top: 30px;
}
.btnmar {
  margin-left: 16px;
}
.cart {
  margin-right: 5px;
}
.shoeflex {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 80%;
}
.shoesmall {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 35%;
}
@media screen and (max-width: 1080px) {
  .bg-brand {
    padding: 1rem 2.5rem;
  }
  .shoesmall {
    width: 40%;
  }
  
}
@media screen and (max-width: 780px) {
  .bg-brand {
    padding: 1rem 1.0rem;
  }
  .shoeflex {
    width: 100%;
  }
 
  .shoesmall {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .bg-btn {
    background-color: hsl(223, 64%, 98%);
    /* padding: 0.3rem 1rem;
    margin-right: 0; */
  }
  .btnmar {
    margin-left: 0px;
  }
  .btncol {
    display: flex;
    flex-direction: column;
  }
  .shoeflex {
    display: none;
  }
}
